body.free-trial-page-marketing {
	#wpcontent {
		background-color: #fff;
	}
	.woocommerce-layout__primary {
		margin: 0;
	}
	.woocommerce-layout__main {
		padding-right: 0px;
	}
}

.woocommerce-marketing-free-trial {
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 24px;

	.woocommerce-marketing-free-trial-hero {
		background: #f6f7f7;
		width: 100%;
		padding-bottom: 35px;
		margin-top: 126px;
		text-align: center;
		svg {
			margin-top: -87px;
		}

		h2 {
			font-size: 1.5384em;
			line-height: 1.5384em;
			font-weight: 400;
			text-align: left;
		}
	}

	.woocommerce-marketing-free-trial-page-title {
		box-shadow: inset 0px -1px 0px #dddddd;
		width: 100%;
		margin-bottom: 80px;
		font-size: 1.0769em;
		font-weight: 700;
		padding: 27px;
	}

	.woocommerce-marketing-free-trial-welcome {
		display: flex;
		flex-direction: column;
		align-items: center;
		h1 {
			font-size: 2.46em;
			margin: 0 0 16px 0;
			padding: 0;
			font-weight: 400;
		}
		p {
			font-size: 1.231em;
			line-height: 1.85;
			max-width: 695px;
			text-align: center;
			padding: 0;
			margin: 0 0 32px 0;
		}
	}

	.woocommerce-marketing-free-trial-featured-items {
		display: flex;
		flex-direction: column;
		gap: 56px;
		max-width: 895px;
		h2 {
			font-size: 1.8461em;
			font-weight: 400;
			line-height: 2.4615em;
			align-self: center;
			text-align: center;
			max-width: 640px;
			margin: 80px 0 8px 0;
		}

		.woocommerce-marketing-free-trial-featured-item {
			display: flex;
			gap: 80px;
			.woocommerce-marketing-free-trial-featured-item-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				h3 {
					margin: 0 0 8px 0;
					font-weight: 600;
					font-size: 1.231em;
				}
				p {
					font-size: 1.231em;
					margin: 8px 0 24px 0;
				}
				a {
					align-self: flex-start;
				}
			}
		}
	}
}

@media ( max-width: 768px ) {
	.woocommerce-marketing-free-trial {
		margin-top: 24px;
	}
	.woocommerce-marketing-free-trial-page-title {
		display: none;
	}
	.woocommerce-marketing-free-trial-welcome {
		h1 {
			text-align: center;
			font-size: 1.846em !important;
		}
		p {
			font-size: 1em !important;
			max-width: 335px !important;
		}
	}
	.woocommerce-marketing-free-trial-hero {
		svg {
			width: 100%;
			object-fit: contain;
			height: auto;
		}
	}

	.woocommerce-marketing-free-trial-featured-items {
		max-width: auto;
		gap: 0 !important;
		h2 {
			padding: 0 20px 0 20px;
			margin: 32px 0 32px 0 !important;
			font-size: 1.5384em !important;
			line-height: 2.1538em !important;
		}
		.woocommerce-marketing-free-trial-featured-item {
			padding: 20px;
			gap: 40px !important;
			flex-direction: column;
			&:first {
				padding-top: 0;
			}

			.woocommerce-marketing-free-trial-featured-item-content {
				h3,
				a {
					align-self: center !important;
				}
				p {
					text-align: center;
				}
			}
		}
	}
}

@media ( max-width: 448px ) {
	.woocommerce-marketing-free-trial-featured-items {
		img {
			object-fit: contain;
			width: 100%;
		}
	}
}
