/* Hides Theme Tabs ( All | Free | Paid ) since we only show installed themes */
.woocommerce-profile-wizard__body
	.woocommerce-profile-wizard__themes-tab-panel
	.components-tab-panel__tabs {
	display: none;
}

/* Hides pricing toggle on Profiler > Product Types */
.woocommerce-profile-wizard__body
	.woocommerce-profile-wizard__product-types
	.woocommerce-profile-wizard__product-types-pricing-toggle.woocommerce-profile-wizard__checkbox {
	display: none !important;
}
.woocommerce-profile-wizard__card-help-footnote {
	display: none;
}

/* Business and Free Features toggle on Business Details step */
.woocommerce-profile-wizard__container.business-features
	.components-tab-panel__tabs {
	display: none;
}

/**
 * Ecommerce navigation feature
 */

/* Fix the top space in WooCommerce Marketplace. */
body.woocommerce_page_wc-addons.woocommerce-embed-page #wpbody .woocommerce-layout {
	padding-top: 0;
}

/*  Hide tabs in wc-addons page for Ecommerce plan. */
.woocommerce.wc-addons-wrap .top-bar {
	display: none;
}
.woocommerce.wc-subscriptions-wrap .woo-nav-tab-wrapper {
	display: none;
}
