/* Freee Trial Styles */
#free-trial-plan-picker-banner {
	background-color: #c9356e;
	color: #ffffff;
	font-size: 0.8125em;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: calc( var(--wp-admin--admin-bar--height, 0px) ) !important;
}

#free-trial-plan-picker-banner a {
	color: #ffffff !important;
	text-decoration: underline;
}

/**
* Store notice can be at the top or bottom depending on the activated theme.
* Force it to be at the bottom all the time to place the free trial banner at the bottom.
*/
body.has-free-trial-plan-picker .woocommerce-store-notice {
	top: auto !important;
}
