/* Freee Trial Styles */
#free-trial-plan-ppicker_banner {
    background-color: #C9356E;
    color: #ffffff;
    font-size: 0.8125em;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#free-trial-plan-ppicker_banner a {
    color: #ffffff !important;
    text-decoration: underline;
}