.wc-calypso-notice {
	background: #fff;
	border: 1px solid #c3c4c7;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgb( 0 0 0 / 4% );
	border-left-color: var( --wp-admin-theme-color );
	padding: 12px 16px;
	margin: 0 0 24px 0;
}

.wc-calypso-notice a {
	color: #007cba;
}

.free-trial-orders-notice {
	padding: 12px !important;
	display: flex;
	border-left-color: var( --wp-admin-theme-color );
}

.free-trial-orders-notice h3 {
	font-weight: 600;
	line-height: 20px;
	font-size: 14px;
	color: #3c434a;
	margin: 0;
}

.free-trial-orders-notice p {
	padding: 3px 0 3px 0;
	margin: 0px;
}

.free-trial-orders-notice .upgrade-action {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: end;
}

.woocommerce-task-list__setup
	.woocommerce-experimental-list
	.woocommerce-experimental-list__item.complete {
	color: var( --wp-admin-theme-color );
}

.woocommerce-task-tax__success {
	flex-direction: row !important;
	padding: 0 !important;
}