/** Styles for the header and footer of the setup checklist page */
.setup-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-top: 40px;
}

.setup-header h2 {
    font-size: 32px;
	font-weight: 500;
	line-height: 40px;
	margin-bottom: 14px;
}

.setup-header p {
	line-height: 1.5;
	color: #6a748e;
	margin: 0;
	font-size: 14px;
}

.setup-footer {
	text-align: center;
}

.setup-footer a {
	font-weight: bold;
}

@media screen and (max-width: 600px) {
	.setup-header {
		flex-direction: column;
		text-align: center;
	}
	.setup-header h2 {
		margin-top: 0;
	}
	.setup-header img {
		max-width: 107px;
		margin: 0 auto;
	}
}

/** Checklist styles - copied from Calypso code generated on 10/29/2018 */

.checklist {
	margin: 20px 30px 25px 15px;
}

.checklist-card {
	display: block;
	position: relative;
	margin: 0 auto 10px auto;
	padding: 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	-webkit-box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
	box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
}

.checklist-card:after {
	content: ".";
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

@media (min-width: 481px) {
	.checklist-card {
		margin-bottom: 16px;
		padding: 24px;
	}
}

.checklist-card.is-compact {
	margin-bottom: 1px;
}

@media (min-width: 481px) {
	.checklist-card.is-compact {
		margin-bottom: 1px;
		padding: 16px 24px;
	}
}

.checklist__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.checklist__header-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1;
	flex: 1 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.checklist__header-progress {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	font-size: 14px;
	white-space: nowrap;
	margin-bottom: 5px;
}

.checklist__header-progress-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1;
	flex: 1 1;
	margin: 0;
	color: #537994;
	font-size: 14px;
	font-weight: normal;
}

.checklist__header-progress-number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #537994;
	padding-left: 1em;
}

.checklist__header-secondary {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 2;
	-ms-flex: 2 1;
	flex: 2 1;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-right: 36px;
}


.checklist__header-summary {
	font-size: 12px;
	line-height: 24px;
	color: #537994;
	cursor: pointer;
}

.checklist__header-action {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 100%;
	border: 0;
	border-left: 1px solid #f3f6f8;
	cursor: pointer;
}

.checklist__header-action .gridicon {
	fill: #87a6bc;
	vertical-align: middle;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: color 0.2s ease-in, -webkit-transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: color 0.2s ease-in, -webkit-transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.2s ease-in;
	transition: transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.2s ease-in, -webkit-transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checklist.is-expanded .checklist__header-action .gridicon {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.checklist.is-expanded .checklist__header-action .gridicon {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.checklist__header .progress-bar__progress {
	background-color: #4ab866;
}

.checklist__tasks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.checklist__task {
	width: 100%;
	-webkit-box-ordinal-group: 101;
	-ms-flex-order: 100;
	order: 100;
}

.checklist__task.is-completed {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 0;
	order: 0;
}

.checklist__task.checklist-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 16px 16px 16px 56px;
}

@media (max-width: 480px) {
	.checklist__task.checklist-card {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

.checklist__task.checklist-card.is-completed {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.checklist__task::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 34px;
	border-left: 1px solid #c8d7e1;
}

.checklist__task-icon {
	display: block;
	position: absolute;
	top: 18px;
	left: 24px;
	width: 16px;
	height: 16px;
	border: 2px solid #c8d7e1;
	border-radius: 16px;
	background: #fff;
	cursor: pointer;
}

.checklist__task-icon .gridicons-checkmark {
	display: none;
	fill: #fff;
	position: absolute;
	top: -1px;
	left: 1px;
}

.checklist__task-icon:hover,
.checklist__task-icon:focus {
	background: #4ab866;
	border-color: #4ab866;
}

.checklist__task-icon:hover .gridicons-checkmark,
.checklist__task-icon:focus .gridicons-checkmark {
	display: block;
}

.checklist__task-icon:active {
	background: #00aadc;
	border-color: #00aadc;
}

.checklist__task-primary {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 90%;
	flex: 1 1 90%;
}

.checklist__task-secondary {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 10%;
	flex: 1 1 10%;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	padding-left: 10px;
	justify-content: flex-end;
}

@media (max-width: 480px) {
	.checklist__task-secondary {
		padding-left: 0;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

.checklist__task-title {
	margin-bottom: 0;
	margin-top: 0;
}

.checklist__task-title a {
	padding: 0;
	color: #0087be;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
}

.checklist__task-title a.task-is-completed {
	color: #537994;
	font-size: 14px;
	cursor: default;
	line-height: 26px;
}

.checklist__task-description {
	word-break: break-word;
	font-size: 14px;
	margin-top: 0;
}

.checklist__task-description a {
	text-decoration: none;
}

.checklist__task-duration {
	font-size: 12px;
	color: #537994;
}

.checklist__task-primary .checklist__task-duration {
	display: inline-block;
}

.checklist__task-secondary .checklist__task-duration {
	display: none;
}

@media (max-width: 480px) {
	.checklist__task-primary .checklist__task-duration {
		display: none;
	}
	.checklist__task-secondary .checklist__task-duration {
		display: inline-block;
		margin-left: 1.5em;
	}
}

.checklist__task-action {
	white-space: nowrap;
}

.checklist__task.is-completed {
	padding-top: 12px;
	padding-bottom: 12px;
	background: #f3f6f8;
}

.checklist__task.is-completed .checklist__task-icon {
	top: 13px;
	background: #4ab866;
	border-color: #4ab866;
}

.checklist__task.is-completed .checklist__task-icon:hover {
	cursor: default;
}

.checklist__task.is-completed .gridicons-checkmark {
	display: block;
}

.checklist__task.is-completed .checklist__task-description,
.checklist__task.is-completed .checklist__task-duration,
.checklist__task.is-completed .checklist__task-secondary {
	display: none;
}

.checklist__task.is-completed.has-actionlink .checklist__task-secondary {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.checklist__task.is-completed.has-actionlink .checklist__task-action {
	background: transparent;
	border: 0;
	padding: 0;
	text-decoration: underline;
	color: #537994;
	font-size: 12px;
	font-weight: 400;
	width: 100%;
	text-align: right;
	box-shadow: none;
}

@media (max-width: 480px) {
	.checklist__task.is-completed.has-actionlink .checklist__task-action {
		padding-right: 0;
	}
}

.progress-bar {
	width: 100%;
	display: inline-block;
	position: relative;
	height: 9px;
	background-color: #c8d7e1;
	border-radius: 4.5px;
}

.progress-bar.is-compact {
	height: 4px;
}

.progress-bar__progress {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #006fb5;
	border-radius: 4.5px;
	-webkit-transition: width 200ms;
	transition: width 200ms;
}


/** Removes klarna setup banner from top of setup screen */

#klarna-kp-banner, #klarna-banner {
	display: none;
}

/* Checklist overrides */

.checklist__header-action {
    background: #fff;
}
.checklist__header-summary {
    font-size: 13px;
}
.checklist__header-progress {
    font-size: 15px;
}
.checklist__header-progress-text {
    font-size: 15px;
}
.checklist__task-title {
    margin-bottom: 5px;
}
.checklist__task-description {
	line-height: 16px;
}
.checklist__task-duration {
    font-size: 13px;
}
.checklist__task-icon {
	left: 25px;
	border-width: 1px;
	cursor: default;
}
.checklist-card:not(.is-completed) .checklist__task-icon:hover,
.checklist-card:not(.is-completed) .checklist__task-icon:focus {
    background: #fff;
	border-color: #c8d7e1;
	cursor: default;
}

@media (max-width: 480px) {
	.wp-core-ui .checklist__task-secondary .button-primary {
		color: #2e4453 !important;
		background: #fff !important;
		border-color: #c8d7e1 !important;
	}
	.wp-core-ui .checklist__task-secondary .button-primary:hover,
	.wp-core-ui .checklist__task-secondary .button-primary:focus {
		color: #2e4453 !important;
		border-color: #a8bece !important;
		background: #fff !important;
	}
	.checklist__task-secondary {
		justify-content: flex-start;
	}
}

@media (max-width: 600px) {
	.checklist {
		margin: 20px 0px 25px -15px;
	}
}
