@font-face {
	font-family: 'WCPay';
	src: url( '../fonts/WCPay.eot' );
	src: url( '../fonts/WCPay.eot?#iefix' ) format( 'embedded-opentype' ),
		url( '../fonts/WCPay.woff' ) format( 'woff' ),
		url( '../fonts/WCPay.ttf' ) format( 'truetype' ),
		url( '../fonts/WCPay.svg#WCPay' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}

/* stylelint-disable selector-id-pattern */
#toplevel_page_wc-admin-path--payments-welcome
div.wp-menu-image::before ,
#toplevel_page_admin-page-wc-admin-path--payments-welcome
div.wp-menu-image::before {
	font-family: 'WCPay' !important;
	content: '\e900';
	width: 24px;
	font-size: 24px;
	margin-top: -2px;
	background-color: transparent;
}
